.form {
    display: flex;
    width: 100%;
    background-color: grey;
    flex-direction: column;
    justify-content: center;
   
}

.body{
    justify-content: flex-start;
}

.mb-3{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}
