<form [formGroup]="connexionForm" (ngSubmit)="onSubmit()" class="form"> 
    <div>
      <div class="body">
          <div>
            Formulaire de connexion
          </div>
          <br>
          <div class="mb-3">
              <label for="email" class="form-label"> Email </label>
              <input type="email" formControlName="login" class="form-control" id="email" aria-describedby="email">
              <span *ngIf="connexionForm.controls.login.errors && submitted" class="invalid">  <!-- si champ pas rempli (invalid) et soumettre alors affiche le message suivant --> 
                <span *ngIf="connexionForm.controls.login.errors['required']">
                  Veuillez renseigner un prenom
                </span>
              </span>
          </div> 
          <br>

          <div class="mb-3">
              <label for="password" class="form-label"> Password </label>
              <input type="password" formControlName="mdp" class="form-control" id="password">  
              <span *ngIf="connexionForm.controls.mdp.errors && submitted" class="invalid">  <!-- si champ pas rempli (invalid) et soumettre alors affiche le message suivant --> 
                <span *ngIf="connexionForm.controls.mdp.errors['required']">
                Veuillez renseigner un mot de passe
                </span>
                <span *ngIf="connexionForm.controls.mdp.errors['minlength']">
                Vous devez renseigner un mot de passe de 8 caractères minimum
                </span>
            </span>
          </div>
      </div>

          <br>
        <div id="conn">
          <button type="submit" class="btn btn-primary"> connexion </button>
        </div>
        <br>
        <div id="conn">
          Pas de compte? <a href="inscription"> S'inscrire</a> 
        </div>

    </div>
  </form>
