.form {
    display: flex;
    background-color: grey;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.mb-3{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

#conn{
    display: flex ;
    justify-content: center;
}
