<form class="form"> 
    <div>
      <div class="body">
          <div>
            Formulaire de connexion
          </div>
          <br>
          <div class="mb-3">
              <label for="email" class="form-label"> Email </label>
              <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="email">
          </div> 
          <br>

          <div class="mb-3">
              <label for="password" class="form-label"> Password </label>
              <input type="password" formControlName="password" class="form-control" id="password">  
              
          </div>
      </div>

          <br>
        <div id="conn">
          <button type="button" class="btn btn-primary"> connexion </button>
        </div>
        <br>
        <div id="conn">
          Pas de compte? <a href="inscription"> S'inscrire</a> 
        </div>

    </div>
  </form>
