.container{
    width: 100;
}
.description{
    float: left;
    width: 50%;
    height: 100%;
    background-color: red;
}

.form {
    display: flex;
    background-color: grey;
    justify-content: center;
}



.mb-3{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

#conn{
    display: flex ;
    justify-content: center;
}
