<div>
    <h3>Filtres</h3>
    <form id="filtre-recettes">
        <div>
            <label for="filtre-ingredient">Selon mes ingrédients</label>
            <input type="checkbox" id="filtre-ingredient">
        </div>
        <div>
            <label for="categorie">Catégorie</label>
            <select id="categorie" class="form-select">
                <option selected>Toutes les catégories</option>
                <option value="1">Entrée</option>
                <option value="2">Plat</option>
                <option value="3">Dessert</option>
            </select>
        </div>
        <div>
            <label for="temps-preparation">Temps de préparation</label>
            <select id="temps-preparation" class="form-select">
                <option value="0" selected>Indifférent</option>
                <option value="1">Inférieure à 60 minutes</option>
            </select>
        </div>
    </form>
</div>