<div>
    <h3>Résultat</h3>
    <p>Voici les recettes que nous pouvons vous proposer d'après les filtres que vous avez activé :</p>
    <table id="tableau-recettes" class="table">
        <thead>
            <tr>
                <th>Nom de la recette</th>
                <th>Catégorie</th>
                <th>Temps de préparation</th>
                <th>Nombre de personnes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="">Tarte aux fraises</a></td>
                <td>Dessert</td>
                <td>35 minutes</td>
                <td>6 personnes</td>
            </tr>
        </tbody>
    </table>
</div>