<div>
    <h3>Résultat</h3>
    <p>Voici les recettes que nous pouvons vous proposer d'après les filtres que vous avez activé :</p>
    <table id="tableau-recettes" class="table">
        <thead>
            <tr>
                <th>Nom de la recette</th>
                <th>Catégorie</th>
                <th>Temps de préparation</th>
                <th>Nombre de personnes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td><a href="">{{ item.nomRecette }}</a></td>
                <td>Dessert</td>
                <td>{{ item.tempsPreparation }} minutes</td>
                <td>{{ item.nbPersonnes }} personnes</td>
            </tr>
        </tbody>
    </table>
</div>