<div id="pageModifCompte">
    <div id="titre">
        <h1> Modification des informations du compte </h1>
    </div>

    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="form"> 
        <div id="champ">
            <div class="mb-3">
                <label for="prenom" class="form-label"> Prénom </label>
                <input type="text" formControlName="prenom" class="form-control" id="prenom" aria-describedby="prenom">
                <span *ngIf="updateForm.controls.prenom.errors && submitted" class="invalid">  <!-- si champ pas rempli (invalid) et soumettre alors affiche le message suivant --> 
                    <span *ngIf="updateForm.controls.prenom.errors['required']">
                      Veuillez renseigner un prenom
                    </span>
                </span>
            </div>
                
            <br>
            <div class="mb-3">
                <label for="nom" class="form-label"> Nom </label>
                <input type="text" formControlName="nom" class="form-control" id="nom" aria-describedby="nom">
                <span *ngIf="updateForm.controls.nom.errors && submitted" class="invalid">  
                    <span *ngIf="updateForm.controls.nom.errors['required']">
                      Veuillez renseigner un nom
                    </span>
                </span>
            </div>
                
            <br>
            <div class="mb-3">
                <label for="date" class="form-label"> Date de naissance </label>
                <input type="date" formControlName="dateDeNaissance" class="form-control" id="date" aria-describedby="date">
                <span *ngIf="updateForm.controls.dateDeNaissance.errors && submitted" class="invalid">  
                    <span *ngIf="updateForm.controls.dateDeNaissance.errors['required']">
                    Veuillez renseigner une date de naissance
                    </span>
                </span>
            </div>

            <br>
            <div class="mb-3">
                <label for="email" class="form-label"> Email </label>
                <input type="email" formControlName="login" class="form-control" id="email" aria-describedby="email">
                <span *ngIf="updateForm.controls.login.errors && submitted" class="invalid"> 
                    <span *ngIf="updateForm.controls.login.errors['required']">
                    Veuillez renseigner un email
                    </span>
                </span>
            </div> 

            <br>
            <div class="mb-3">
                <label for="password" class="form-label"> Mot de passe </label>
                <button type="button" class="btn btn-primary" routerLink="/modifiermdp"> Changer </button>
            </div>
        </div>
        
            <div id="boutons">
                <button type="button" class="btn btn-primary"> Enregistrer </button>
                <br>
                <button type="button" class="btn btn-danger" routerLink="/"> Annuler </button>
            </div>
    </form>
</div>