  <div class="fiche">  
    <div id="liste">
      Ma liste d'ingredients
    </div>
    <div id="tab">
      <table class="table table-bordered align-middle">
        <thead>
          <tr>
            <th scope="col"> Ingredient </th>
            <th scope="col"> Quantité </th>
            <th scope="col"> Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of data">
          <tr>
            <td> {{ item.nom }} </td>
            <td> Quantité </td>
            <td> 
                <button class="btn btn-warning" (click)="goToPageModifier(item.id)"> modifier </button>
                <button class="btn btn-danger"> supprimer </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>