  <div class="fiche">  
    <div id="liste">
      Ma liste d'ingredients
    </div>
    <div id="tab">
      <table class="table table-bordered align-middle">
        <thead>
          <tr>
            <th scope="col"> Ingredient </th>
            <th scope="col"> Quantité </th>
            <th scope="col"> Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Courgette </td>
            <td> 1000 g  </td>
            <td> 
                <button class="btn btn-warning" routerLink="modifieringredient"> modifier </button>
                <button class="btn btn-danger"> supprimer </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>