.body{
    background-color: grey;
    height: 100vh;
}

#titre{
    display: flex;
    justify-content: center;
    text-decoration: underline black;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 26px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

