
<div class="body">
    <div id = "titre"> Veuillez insérer vos ingrédients </div>    
    <div>
        <!-- <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()" class="form" id="formIngredient"> 
            <option *ngFor="let ingredient of ingredients" [value]="ingredient.typeIngredient"> {{ ingredient.typeIngredient }} </option>-->
        
            <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()" class="form" id="formIngredient">
            <div class="menu1">
            <label for="typeIngredient" class="form-label"> Type d'ingrédient: </label>
            <select class="form-select" formControlName="typeIngredient" id="typeIngredient" aria-label="typeIngredient">
                <option selected> Choisir le type d'ingrédients </option>
                <option *ngFor="let item of  typeIngredient" [value]="item"> {{ item | titlecase }} </option>
            </select>
            </div>

            <div class="menu2">

                <label for="ingredient"> Nom: </label>
                <input type="text" formControlName="nom" class="form-control" id="nom" title="nom" >
    
            </div>

            <div class="menu3">
                <label for="quantite"> Quantité: </label>
                <input type="number" step ="0.1" formControlName="quantite" class="form-control" id="quantite" title="Quantité">
            </div>

            <div class="menu4">
                <label for="Unite"> Unite: </label>
                    <select class="form-select" formControlName="unite" id="Unite" aria-label="typeIngredient">
                        <option selected> Unite</option>
                        <option *ngFor="let item of  unite" [value]="item"> {{ item  | titlecase }} </option>
                    </select>
            </div>

             <div class="menu5">
                <button type="submit" class="btn btn-primary">  Ajouter  </button>
            </div>

            
        </form>
    </div>
</div>
