
<div class="body">
    <div id = "titre"> Veuillez insérer vos ingrédients </div>    
    <div>
        <form class="form" id="formIngredient">
            <div class="menu1">
            <label for="type d'ingredient">Type d'ingredient </label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Choisir le type d'ingrédients</option>
                <option value="1">Fruit</option>
                <option value="2">Légumes</option>
                <option value="3">Viandes</option>
            </select>
            </div>

            <div class="menu2">

                <label for="ingredient"> Ingredients </label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Choisissez vos ingrédients</option>
                    <option value="1"> Carottes </option>
                    <option value="1"> Haché de boeuf </option>
                    <option value="1"> Flageolet </option>
                </select>

            </div>

            <div class="menu3">
                <label for="quantité"> Quantité </label>
                <input type="number" step ="0.01" formControlName="formIngredient" class="form-control" id="quantite" title="Quantité">
                <span> unité en g, ml ou ingredient</span>
            </div>

            
        </form>
    </div>
</div>
