<div id="pageModifMdp">
    <div id="titre">
        <h1> Modification du mot de passe </h1>
    </div>

    <form class="form"> 
        <div id="champ">
            <div class="mb-3">
                <label for="password1" class="form-label"> Mot de passe actuel </label>
                <input type="password" formControlName="password1" class="form-control" placeholder="Entrez votre mot de passe actuel" id="password1">
            </div> 

            <br>
            <div class="mb-3">
                <label for="password2" class="form-label"> Nouveau mot de passe </label>
                <input type="password" formControlName="password2" class="form-control" placeholder="Entrez votre nouveau mot de passe" id="password2">  
            </div>

            <br>
            <div class="mb-3">
                <label for="password3" class="form-label"> Répétez le nouveau mot de passe </label>
                <input type="password3" formControlName="password3" class="form-control" placeholder="Confirmez votre nouveau mot de passe" id="password3">  
            </div>
        </div>
        
            <div id="boutons">
                <button type="button" class="btn btn-primary"> Confirmer </button>
                <br>
                <button type="button" class="btn btn-danger"> Annuler </button>
            </div>
    </form>
</div>