<div id="pageInscrip">
    <div id="titre">
        <h1> Inscription </h1>
    </div>

    <form [formGroup]="utilisateurForm" (ngSubmit)="onSubmit()" class="form"> 
        <div id="champ">
            <div class="mb-3">
                <label for="prenom" class="form-label"> Prénom </label>
                <input type="text" formControlName="prenom" class="form-control" placeholder="Entrez votre prénom" id="prenom" aria-describedby="prenom">
                <span *ngIf="utilisateurForm.controls.prenom.errors && submitted" class="invalid">  <!-- si champ pas rempli (invalid) et soumettre alors affiche le message suivant --> 
                    <span *ngIf="utilisateurForm.controls.prenom.errors['required']">
                      Veuillez renseigner un prenom
                    </span>
                </span>
            </div>
                
            <br>
            <div class="mb-3">
                <label for="nom" class="form-label"> Nom </label>
                <input type="text" formControlName="nom" class="form-control" placeholder="Entrez votre nom" id="nom" aria-describedby="nom">
                <span *ngIf="utilisateurForm.controls.nom.errors && submitted" class="invalid">  
                    <span *ngIf="utilisateurForm.controls.nom.errors['required']">
                      Veuillez renseigner un nom
                    </span>
                </span>
            </div>
                
            <br>
            <div class="mb-3">
                <label for="date" class="form-label"> Date de naissance </label>
                <input type="date" formControlName="dateDeNaissance" class="form-control" id="date" aria-describedby="date">
                    <span *ngIf="utilisateurForm.controls.dateDeNaissance.errors && submitted" class="invalid">  
                        <span *ngIf="utilisateurForm.controls.dateDeNaissance.errors['required']">
                        Veuillez renseigner une date de naissance
                        </span>
                    </span>
            </div>

            <br>
            <div class="mb-3">
                <label for="email" class="form-label"> Email </label>
                <input type="email" formControlName="login" class="form-control" placeholder="Entrez votre email" id="email" aria-describedby="email">
                    <span *ngIf="utilisateurForm.controls.login.errors && submitted" class="invalid"> 
                        <span *ngIf="utilisateurForm.controls.login.errors['required']">
                        Veuillez renseigner un email
                        </span>
                    </span>
            </div> 

            <br>
            <div class="mb-3">
                <label for="password" class="form-label"> Mot de passe </label>
                <input type="password" formControlName="mdp" class="form-control" placeholder="Entrez un mot de passe" id="password">  
                    <span *ngIf="utilisateurForm.controls.mdp.errors && submitted" class="invalid">  <!-- si champ pas rempli (invalid) et soumettre alors affiche le message suivant --> 
                        <span *ngIf="utilisateurForm.controls.mdp.errors['required']">
                        Veuillez renseigner un mot de passe
                        </span>
                        <span *ngIf="utilisateurForm.controls.mdp.errors['minlength']">
                        Vous devez renseigner un mot de passe de 8 caractères minimum
                        </span>
                    </span>
                <br> <p> Le mot de passe doit contenir au moins 8 caractères, une lettre et un chiffre </p>
            </div>
        </div>
        
            <div id="boutons">
                <button type="submit" class="btn btn-primary"> S'inscrire </button>
                <br>
                <button type="button" class="btn btn-danger" routerLink="/"> Annuler </button>
            </div>
    </form>
</div>